In [1]:
# # String Methods & Function


a="lalit"
# print(a)
# print(type(a))
# print(id(a))
max(a)
# len(a)
# min(a)
# sorted(a)
# a.count("l")
# a.find("i")
# a.ljust(50)
# a.rjust(60)
# a.replace("a","o")
# a.upper()
# a.lower()
# a.capitalize()
# a.title()
# a.strip()
# a.lstrip()
# a.swapcase()
# a.endswith("o")
# a.startswith("t")
# b="Humane"
# a.join(b)
# a.zfill(50)
# a.isalpha()
# a.isdigit()
# a.isalnum()
# a.isspace()
# a.islower()
# a.isupper()
# a[2]

't'

In [51]:
a=[1,2,3,4,5,6,9]
a.append(45)
print(a)
a[7]

[1, 2, 3, 4, 5, 6, 9, 45]

45

In [55]:
a=int(input("enter your Value Here :- "))

if a>=18 :
    print("Eligible to VOte")
else:
    print("Note Eligible to Vote")

Note Eligible to Vote

In [69]:
# for i in range(1,10):
#     print("Lalit Humane")

for a in range(1,19):
    print("Lalit Gajanan Humane",end="+")

Lalit Gajanan Humane+Lalit Gajanan Humane+Lalit Gajanan Humane+Lalit Gajanan Humane+Lalit Gajanan Humane+Lalit Gajanan Humane+Lalit Gajanan Humane+Lalit Gajanan Humane+Lalit Gajanan Humane+Lalit Gajanan Humane+Lalit Gajanan Humane+Lalit Gajanan Humane+Lalit Gajanan Humane+Lalit Gajanan Humane+Lalit Gajanan Humane+Lalit Gajanan Humane+Lalit Gajanan Humane+Lalit Gajanan Humane+

In [70]:
a=1
while(a<=10):
    print("Lalit Gajanan Humane")
    a+=1

Lalit Gajanan Humane
Lalit Gajanan Humane
Lalit Gajanan Humane
Lalit Gajanan Humane
Lalit Gajanan Humane
Lalit Gajanan Humane
Lalit Gajanan Humane
Lalit Gajanan Humane
Lalit Gajanan Humane
Lalit Gajanan Humane

a=1
while(a<=10):
    print(a)
    a+=1

In [1]:
# ATM Program
bal=15000
widrawl=int(input("Enter your Number Here"))
if(widrawl>=bal):
    print("Invalid Amount")
else:
    bal=bal-widrawl
    print("your Remaning Bal is ",bal)

your Remaning Bal is  2000

In [2]:
a=int(input("Enter your value here"))
for i in range(1,11):
    print(a,"*",i,"=",a*i)

17 * 1 = 17
17 * 2 = 34
17 * 3 = 51
17 * 4 = 68
17 * 5 = 85
17 * 6 = 102
17 * 7 = 119
17 * 8 = 136
17 * 9 = 153
17 * 10 = 170

In [1]:
def myList(x):
    
    x= [20, 30, 40]     #Reassigned the list
    # return x
    print(x)
lst = [10, 11, 12, 13, 14, 15]

myList(lst)   #This line is not printed,why..?     

print(lst)

myList(lst)

[10, 11, 12, 13, 14, 15]

[20, 30, 40]

In [2]:
l1=[1,2,3,4]
l2=[2,3,5,6]
for i in l1:
    if i in l2:
        l1.remove(i)
        l2.remove(i)
        print(l1,l2)
    else:
        continue

[1, 3, 4] [3, 5, 6]

In [ ]:
def is_leap(year):    
    if year%4==0:
        return True
    elif year%100==0:
        return False
    elif year%400==0:
        return True
    
year = int(input())
print(is_leap(year)) sir when the year is i m getting true but when its not i m getting none

In [6]:
for letter in "Python":
    if letter == "h":
     break
    print("Current Letter",letter)
print("Bye")

Current Letter P
Current Letter y
Current Letter t
Bye

In [7]:
for letter in "Python":
    if letter == "h":
        continue
    print("Current Letter",letter)
print("Complete for loop")

Current Letter P
Current Letter y
Current Letter t
Current Letter o
Current Letter n
Complete for loop

In [8]:
for i in "Python":
    if i == "h":
        pass
    print(i)
print("Bye")

P
y
t
h
o
n
Bye

In [19]:
l =[1,7,5,9]

for i in l:
    if i % 2 == 0:
     print("Even ")
     break
    else:
        print("Odd")

Odd
Odd
Odd
Odd

In [24]:
s = "Lalit Gajanan Humane"

for i in s:
    if i.islower():
     print(i,end="")

alitajananumane

In [33]:
l=input()
for i in l:
     if i.isupper():
         print("True",l)
     else:
         print("False",l)

False l

In [44]:
def sum():
    a=int(input())
    b=float(input())
    print(a+b)
sum()    


print("Bye")

21.2
Bye

In [46]:
l=["Lalit",45,"Humane"]
for i in l:
    if i == 45:
        print(i)
    else:
        print("None")
print("End of the Program")

None
45
None
End of the Program

In [50]:
i=1#initiate loop from 1
while(i<=10):#give it end value
    print("Result",i)
    i+=1#assign incremental alue

Result 1
Result 2
Result 3
Result 4
Result 5
Result 6
Result 7
Result 8
Result 9
Result 10

In [51]:
print("Number Pattern ")

# Decide the row count. (above pattern contains 5 rows)
row = 5
# start: 1
# stop: row+1 (range never include stop number in result)
# step: 1
# run loop 5 times
for i in range(1, row + 1, 1):
    # Run inner loop i+1 times
    for j in range(1, i + 1):
        print(j, end=' ')
    # empty line after each row
    print("")

Number Pattern
1
1 2
1 2 3
1 2 3 4
1 2 3 4 5

In [55]:
print("Number Pattern")
row = 5# assign row number
for i in range(1,row+1,1): #run loop for required row
    for j in range(1,i,1): #run loop to print number
        print(j,end=" ") #print numbers
    print(i)    #arrange in row

Number Pattern
1
1 2
1 2 3
1 2 3 4
1 2 3 4 5

In [69]:
print("* Pattern")
row = 5
for i in range(1,row+1,1):
    for j in range(1,i,1):
        print("*",end=" ")
    print(i)
print("End")

* Pattern
1
* 2
* * 3
* * * 4
* * * * 5
End

In [72]:
# s: store sum of all numbers
s = 0
n = int(input("Enter number "))
# run loop n times
# stop: n+1 (because range never include stop number in result)
for i in range(1, n + 1, 1):
    # add current number to sum variable
    s += i
print("\n")
print("Sum is: ", s)

Sum is:  15

In [76]:
s = 0
n = int(input("Enter your number here :"))
for i in range(1,n+1,1):
    s+=i
# print("\n")    
print("Result is :",s)

Result is : 15

In [2]:
# i=int(input())
# while(i%2==0):
#     print(i*2)
#     i+=2


l=10
for i in range(1,l+1,2):
    print(i)

1
3
5
7
9

In [ ]:
n = 2
# stop: 11 (because range never include stop number in result)
# run loop 10 times
for i in range(1, 11, 1):
    # 2 *i (current number)
    product = n * i
    print(product)

In [7]:
n = int(input())
for i in range(1,11,1):
    product=n*i
    # print(i)
    print("table",product)
print("bye")

table 2
table 4
table 6
table 8
table 10
table 12
table 14
table 16
table 18
table 20
bye

In [12]:
l=[1,4,7,8,"h",5]
for i in l:
    "h"!=l
    print("found it")
    break
print("Bye")

found it
Bye

In [10]:
d ={"Name":"Lalit","Age":28}
for i in d:
    d.items()
    print(i)
x = d.items()
print(x)  
y = d.keys()  
print(y)
z = d.values()
print(z)
d["Name"]="Gajanan"
print(d)

Name
Age
dict_items([('Name', 'Lalit'), ('Age', 28)])
dict_keys(['Name', 'Age'])
dict_values(['Lalit', 28])
{'Name': 'Gajanan', 'Age': 28}

In [16]:
d = {}
d["Name"]="Lalit"
d["Fathers Name"]="Gajanan"
d["Mothers Name"]="Anita"
d["Sister1 Name"]="Namrata"
d["Sister2 Name"]="Damini"
print(d)

{'Name': 'Lalit', 'Fathers Name': 'Gajanan', 'Mothers Name': 'Anita', 'Sister1 Name': 'Namrata', 'Sister2 Name': 'Damini'}

In [29]:
l=[12,1,3,4,4,5,6,"hfhf"]
for i in l:
    s=string(l)
    if s.isalpha():
        print("found it",i)
    else:
        print("Sorry")
print("Bye")

TypeError: 'str' object is not callable

In [1]:
l=int(input("Enter any number "))
y=lambda x:x+25
print("add 25 in the entered number and the new number is ",y(l))

add 25 in the entered number and the new number is  35

In [2]:
l=[1,2,3,4,5,6,7]
final_l=list(map(lambda x: (x*3),l))
print(final_l)

[3, 6, 9, 12, 15, 18, 21]

In [3]:
l=[5, 9, 6, 15]
final_l=list(map(lambda x:(x*x),l))
print(final_l)

[25, 81, 36, 225]

In [8]:
l=[1,2,3,4,5,6,7,8,9,4,6,4,10]
even=list(filter(lambda l:l%2==0,l))
for i in even:
    print(i)

SyntaxError: invalid syntax (1371994098.py, line 4)

In [1]:
l=[1,2,3,4,5,4,4,7,8,4,78,5,4,8]
for i in l:
    if i<=10:
        print("Found it")

Found it
Found it
Found it
Found it
Found it
Found it
Found it
Found it
Found it
Found it
Found it
Found it
Found it

In [5]:
l="HUmane"
for i in l:
    if i =="a":
        print("Found it ",i)

Found it  a

In [12]:
l=[1,2,4,51,5,12,45,23,45,1,56,12,5,2,41,63,1]
a = 0
while(a<len(l)):
    if a%2==0:
        print("Even Number====>",a)
    else:
        print("Odd Number===>",a)    
    a=a+1

Even Number====> 0
Odd Number===> 1
Even Number====> 2
Odd Number===> 3
Even Number====> 4
Odd Number===> 5
Even Number====> 6
Odd Number===> 7
Even Number====> 8
Odd Number===> 9
Even Number====> 10
Odd Number===> 11
Even Number====> 12
Odd Number===> 13
Even Number====> 14
Odd Number===> 15
Even Number====> 16

In [14]:
l=[1,2,4,51,5,12,45,23,45,1,56,12,5,2,41,63,1]

for i in l:
    if i%2==0:
        print("EVen Number===>",i)
    else:
        print("Odd Number===>",i)
print("ENd of Loop")

Odd Number===> 1
EVen Number===> 2
EVen Number===> 4
Odd Number===> 51
Odd Number===> 5
EVen Number===> 12
Odd Number===> 45
Odd Number===> 23
Odd Number===> 45
Odd Number===> 1
EVen Number===> 56
EVen Number===> 12
Odd Number===> 5
EVen Number===> 2
Odd Number===> 41
Odd Number===> 63
Odd Number===> 1
ENd of Loop

In [18]:
num=int(input("Enter your Number Here"))
a=1
while a<11:
    print(a,"*",num,"=",num)
    a=a+1

1 * 5 = 5
2 * 5 = 5
3 * 5 = 5
4 * 5 = 5
5 * 5 = 5
6 * 5 = 5
7 * 5 = 5
8 * 5 = 5
9 * 5 = 5
10 * 5 = 5

In [7]:
l = input()
a=0
cap=""
low=""
while (a<len(l)):
    if l.isupper():
       print( a=a+cap)
    # elif l.islower():
    #     # a=a+low
    a=a+1
print(cap)
print(low)
print(a)

TypeError: unsupported operand type(s) for +: 'int' and 'str'

*Asrgs with extra argument

In [3]:
# Python program to illustrate
# *args with first extra argument
def myFun(arg1, *argv):
	print ("First argument :", arg1)
	for i in argv:
		print("Next argument through *argv :", i)

myFun('Hello', 'Welcome', 'to', 'GeeksforGeeks')

First argument : Hello
Next argument through *argv : Welcome
Next argument through *argv : to
Next argument through *argv : GeeksforGeeks

**Keyword Arguments

In [7]:
def myFun(arg1, arg2, arg3):
	print("arg1:", arg1)
	print("arg2:", arg2)
	print("arg3:", arg3)
	# 
# Now we can use *args or **kwargs to
# pass arguments to this function :
# args = ("Geeks", "for", "Geeks")
# myFun(*args)

kwargs = {"arg1" : "Geeks", "arg2" : "for", "arg3" : "Geeks"}
myFun(**kwargs)

arg1: Geeks
arg2: for
arg3: Geeks

In [8]:
def myFun(*args,**kwargs):
	print("args: ", args)
	print("kwargs: ", kwargs)


# Now we can use both *args ,**kwargs
# to pass arguments to this function :
myFun('geeks','for','geeks',first="Geeks",mid="for",last="Geeks")

args:  ('geeks', 'for', 'geeks')
kwargs:  {'first': 'Geeks', 'mid': 'for', 'last': 'Geeks'}

In [4]:
def fun(name):
    print("hello" + name)

fun("Lalit")

helloLalit

In [9]:
def add(a, b):
    return a + b
def hello():
    print("Hello world")
res = add(5,7) #res will be having a value of 12.
# print(res)
# res = hello() #res will be having a value of None.
add()

TypeError: add() missing 2 required positional arguments: 'a' and 'b'

In [11]:
def areaOfCircle(radius, pi=3.14):
    return pi * radius * radius

In [18]:
def sum(x,y):
   return  x+y
print(sum(2,3))

5

In [4]:
y = lambda x : x+25
print(y(25))

50

In [6]:
tables = [lambda x=x: x*2 for x in range(1, 11)]

for table in tables:
	print(table())

2
4
6
8
10
12
14
16
18
20

"""
Python Lambda Function Syntax:

lambda arguments: expression

This function can have any number of arguments but only one expression, which is evaluated and returned.
One is free to use lambda functions wherever function objects are required.
You need to keep in your knowledge that lambda functions are syntactically restricted to a single expression.
It has various uses in particular fields of programming besides other types of expressions in functions.
"""

In [ ]:
# Example of lambda function using if-else
Max = lambda a, b : a if(a > b) else b

print(Max(1, 2))

In [7]:
List = [[2,3,4],[1, 4, 16, 64],[3, 6, 9, 12]]

# Sort each sublist
sortList = lambda x: (sorted(i) for i in x)

# Get the second largest element
secondLargest = lambda x, f : [y[len(y)-2] for y in f(x)]
res = secondLargest(List, sortList)

print(res)

[3, 16, 9]

In [8]:
# Python program to demonstrate working
# of map.

# Return double of n
def addition(n):
	return n + n

# We double all numbers using map()
numbers = (1, 2, 3, 4)
result = map(addition, numbers)
print(list(result))

[2, 4, 6, 8]

In [8]:
even=[]
odd=[]
for i in range(10,101):
    if i%2==0:
        even.append(i)
    else:
        odd.append(i)    
print(even)
print(odd)

[10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50, 52, 54, 56, 58, 60, 62, 64, 66, 68, 70, 72, 74, 76, 78, 80, 82, 84, 86, 88, 90, 92, 94, 96, 98, 100]
[11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31, 33, 35, 37, 39, 41, 43, 45, 47, 49, 51, 53, 55, 57, 59, 61, 63, 65, 67, 69, 71, 73, 75, 77, 79, 81, 83, 85, 87, 89, 91, 93, 95, 97, 99]

In [7]:
l = int(input("Enter your number here :"))
l1 = int(input("Enter your Number Here"))
try:
    x = l/l1
except:
    print("Error Found")
else:
    print("CHutiya")
finally:
    print("Lundun")            
print(x)

CHutiya
Lundun
1.3333333333333333

In [4]:
l = int(input("Enter your Text here"))
for i in range(l):
	print("Chutiya")

Chutiya
Chutiya

In [1]:
n =int(input("Please enter a number ==>"))    
if n %3==0:
    print(" weird")
else:
    print("Not Weird")

Not Weird

In [6]:
n = int(input())
for n in range(1,100):
    if n%3==0:
        print("Weird")
    elif n%2==0 in range(2,5):
        print("Not Weird")
    elif n%2==0 in range(6,20):
        print("Weird")
    else:
        n>20
        print("Not weird")        
# if n%3==0:
#     print(" weird")
# else:
#     print("Not Weird")

Not weird
Not weird
Weird
Not weird
Not weird
Weird
Not weird
Not weird
Weird
Not weird
Not weird
Weird
Not weird
Not weird
Weird
Not weird
Not weird
Weird
Not weird
Not weird
Weird
Not weird
Not weird
Weird
Not weird
Not weird
Weird
Not weird
Not weird
Weird
Not weird
Not weird
Weird
Not weird
Not weird
Weird
Not weird
Not weird
Weird
Not weird
Not weird
Weird
Not weird
Not weird
Weird
Not weird
Not weird
Weird
Not weird
Not weird
Weird
Not weird
Not weird
Weird
Not weird
Not weird
Weird
Not weird
Not weird
Weird
Not weird
Not weird
Weird
Not weird
Not weird
Weird
Not weird
Not weird
Weird
Not weird
Not weird
Weird
Not weird
Not weird
Weird
Not weird
Not weird
Weird
Not weird
Not weird
Weird
Not weird
Not weird
Weird
Not weird
Not weird
Weird
Not weird
Not weird
Weird
Not weird
Not weird
Weird
Not weird
Not weird
Weird
Not weird
Not weird
Weird

In [12]:
n = int(input())
if (n%3==0):
    print("Weird")
elif n%2==0 in range(2,5):
    print("Not Weird")
elif n%2==0 in range(6,20):
    print("Weird")
else:
     n%2 == 0 and n>20
     print("Not Weird")

Not Weird

In [15]:
n = int(input())
if (n%3==0) and 1<=n<=100:
    print("Weird")
elif n%2==0 in range(2,5):
    print("Not Weird")
elif n%2==0 in range(6,20):
    print("Weird")
else:
     n%2 == 0 and n>20
     print("Not Weird")

Weird

In [ ]:
n = int(input().strip())
check = {True: "Not Weird", False: "Weird"}

print(check[
        n%2==0 and (
            n in range(2,6) or 
            n > 20)
    ])

In [18]:
a=int(input("Enter Your first Number ==>"))
b=int(input("Enter Your second Number ==>"))
print(a//b)
print( a/b)

0
0.6

In [21]:
l = [{a:3,b:5},print(a//b and a/b)]

0

In [4]:
n = int(input())
for i in range(n):
    print(i*i)

0
1
4

In [7]:
def is_leap(year):
    leap = False
    
    if year == 365:
        return leap

year = int(input())

In [11]:
year = int(input())
def is_leap(year):
    return year % 4 == 0 and (year % 400 == 0 or year % 100 != 0)

In [13]:
year = int(input())
def is_leap(year):
    leap = False
    if year%4 == 0:
        if year%100 == 0:
            if year%400 == 0:
                leap = True
            else:
                leap = False
        else:
            leap = True
    else:
        leap = False
    
    return leap

In [20]:
a =input()
for i in a:
    if i == a.isdigit():
        print(i)

In [23]:
print(*range(1, int(input())+1), sep='')

12345

In [30]:
s = "Sorting1234"
print(sorted(s))

['1', '2', '3', '4', 'S', 'g', 'i', 'n', 'o', 'r', 't']

In [1]:
nums = int(input())
target = 9
for i in range(nums):
    for j in range(nums):
        break
        if (i+j == target):
            print("Correct",i,j)
        else:
            print("Wrong")

In [3]:
l1 = [1,2,3,4,5]
i = 0
while i<len(l1):
    l1[i] = l1[i]+100
    i = i+1

In [5]:
print(l1)

[101, 102, 103, 104, 105]

In [9]:
l1 = ["orange","black","White"]
l2 = ["chair","table","laptop"]
for i in l1:
    for j in l2:
        print(i,j)

orange chair
orange table
orange laptop
black chair
black table
black laptop
White chair
White table
White laptop

In [1]:
class Phone:
    def set_color(self,color):
        self.color = color
    def set_cost(self,cost):
        self.cost = cost
    def show_color(self):
        return self.color
    def show_cost(self):
        return self.cost
    def make_call(self):
        print("Iam making a call")
    def play_game(self):
        print("I am playing a game")

In [2]:
p1 = Phone()

In [3]:
p1.set_color("Black")

In [4]:
p1.set_cost(35000)

In [5]:
p1.show_color()

'Black'

In [6]:
p1.show_cost()

35000

In [7]:
p1.make_call()

Iam making a call

In [8]:
p1.play_game()

I am playing a game

In [9]:
class Employee:
    def __init__(self,name,age,salary,gender):
        self.name = name
        self.age = age
        self.salary = salary
        self.gender = gender
    def show_employee_details(self):
        print("name of Employee is :-",self.name)
        print("Age of Employee is  :-",self.age)
        print("Salary of the Employee is :-",self.salary)
        print("Gender of the Employee is :-",self.gender)

In [10]:
e1 = Employee("Lalit",28,16000,"Male")

In [11]:
e1.show_employee_details()

name of Employee is :- Lalit
Age of Employee is  :- 28
Salary of the Employee is :- 16000
Gender of the Employee is :- Male

In [15]:
class Vehicle:
    def __init__(self,mileage,cost):
        self.mileage = mileage
        self.cost = cost

    def show_vehicle_details(self):
        print("Mileage of the Vehicle is :-",self.mileage)
        print("Cost of the Vehicle is :-",self.cost)

v1 = Vehicle(250,45000)

In [16]:
v1.show_vehicle_details()

Mileage of the Vehicle is :- 250
Cost of the Vehicle is :- 45000

In [17]:
class Car(Vehicle):
    def show_car_details(self):
        print("I AM A CAR")

In [18]:
c1 = Car(300,60000)

In [19]:
c1.show_car_details()

I AM A CAR

In [20]:
c1.show_vehicle_details()

Mileage of the Vehicle is :- 300
Cost of the Vehicle is :- 60000

In [21]:
class Vehicle:
    def __init__(self,mileage,cost):
        self.mileage = mileage
        self.cost = cost

    def show_vehicle_details(self):
        print("Mileage of the Vehicle is :-",self.mileage)
        print("Cost of the Vehicle is :-",self.cost)

In [22]:
v1 = Vehicle(300,25000)

In [23]:
v1.show_vehicle_details()

Mileage of the Vehicle is :- 300
Cost of the Vehicle is :- 25000

In [33]:
class Car(Vehicle):
    def __init__(self,mileage,cost,tyres,hp):
        super().__init__(mileage,cost)
        self.tyres = tyres
        self.hp = hp

    def show_car_Details(self):
        print("Tyres in this car :-",self.tyres)
        print("Horse power of this car is :-",self.hp)
        print("I am a Car")

In [34]:
c1 = Car(500,12000,5,500)

In [35]:
c1.show_vehicle_details()

Mileage of the Vehicle is :- 500
Cost of the Vehicle is :- 12000

In [36]:
c1.show_car_Details()

Tyres in this car :- 5
Horse power of this car is :- 500
I am a Car

In [37]:
class Parent:
    def parent_name(self,name):
        self.name = name
    def show_parent1_name(self):
        print(self.name)

In [38]:
class Parent2:
    def parent2_name(self,name):
        self.name = name

    def show_parent2_name(self):
        print(self.name)

In [42]:
class Child(Parent,Parent2):
    def __init__(self,height):
        self.height = height 

    def show_child_properties(self):
        print(self.height)

In [45]:
my_child = Child(5.9)

In [46]:
my_child.parent_name("Gajanan")

In [47]:
my_child.show_parent1_name()

Gajanan

In [49]:
my_child.parent2_name("Anita")

In [50]:
my_child.show_parent2_name()

Anita

In [11]:
s = input()
for i in s:
    if i.islower():
        print(i)

b
b
s
f
h
z
h
f

In [17]:
s = "Sorting1234"
print(sorted(s))

['1', '2', '3', '4', 'S', 'g', 'i', 'n', 'o', 'r', 't']

In [18]:
print(*sorted(input(), key=lambda c: (-ord(c) >> 5, c in '02468', c)), sep='')

ginortS1324

In [25]:
print(*range(10),print("Lalit"))

Lalit
0 1 2 3 4 5 6 7 8 9 None

In [27]:
import calendar
print(list(calendar.day_name)[calendar.weekday(y, m, d)].upper())

NameError: name 'y' is not defined

In [28]:
print(*range(1, int(input())+1), sep='')

12345

In [30]:
x, y, z, n = (int(input()) for _ in range(4))

4 5 8 7

In [33]:
l = input()
for i in l:
    for j in l:
        if j == max(l):
            print(i,j)

5 y
5 y
  y
  y
H y
H y
a y
a y
r y
r y
r y
r y
y y
y y
  y
  y
3 y
3 y
7 y
7 y
. y
. y
2 y
2 y
1 y
1 y
  y
  y
B y
B y
e y
e y
r y
r y
r y
r y
y y
y y
  y
  y
3 y
3 y
7 y
7 y
. y
. y
2 y
2 y
1 y
1 y
  y
  y
T y
T y
i y
i y
n y
n y
a y
a y
  y
  y
3 y
3 y
7 y
7 y
. y
. y
2 y
2 y
  y
  y
A y
A y
k y
k y
r y
r y
i y
i y
t y
t y
i y
i y
  y
  y
4 y
4 y
1 y
1 y
  y
  y
H y
H y
a y
a y
r y
r y
s y
s y
h y
h y
  y
  y
3 y
3 y
9 y
9 y

In [35]:
marksheet = []
for _ in range(0,float(input())):
    marksheet.append([input(), float(input())])

ValueError: could not convert string to float: '5 Harry 37.21 Berry 37.21 Tina 37.2 Akriti 41 Harsh 39'

In [40]:
l =[]
for i in range(1,10):
    print(l.append(i))

None
None
None
None
None
None
None
None
None

In [46]:
def swapcase(x):
    return x.swapcase()

In [45]:
l1 = swapcase("GGSADIUGIkvvk")

In [57]:
def swap_case(s):
    return s

    if s.isalpha():
     s = input()
     result = swap_case(s)
     
    print(result)

In [64]:

def swap_case(x):
    x = x.isalpha()
    return x.swapcase()

d = swapcase(input())    
print(d)

WWW.HACKERRANK,COM

In [6]:
def addition ():
    a = int(input())
    b = int(input())
    c = a+b
    print(c)

addition()

9

In [7]:
def addition(a,b):
    c = a+b
    return c

addition(4,5)

9

In [30]:
class cube:
    def z(self,a):
      self.a = a
      c = a**3
      print(c)
    

c1 = cube()

In [31]:
c1.z(3)

27

In [27]:
def cube(a):
    c = a**3
    return c

d = cube(3)
print(d)

27

In [34]:
class Sum:
    def sum1(self,a,b):
        self.a = a
        self.b = b
        c = a+b
        return c

In [35]:
s1 = Sum()

In [40]:
s1.sum1(15,45)

60

In [52]:
class Swapcase:
    def Sc(self,a):
        self.a = a
        return a.swapcase()

In [53]:
a1 = Swapcase()

In [54]:
a1.Sc("Lalit Gajanan Humane")

'lALIT gAJANAN hUMANE'

In [55]:
a = [i*i for i in range(10)]
print(a)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [25]:
class Swap_num:
    def __init__(self,a,b):
        self.a = a
        self.b = b
        a,b = b,a

    def swap (self):
        print(a,b)

In [26]:
sn1 = Swap_num(5,6)

In [27]:
sn1.swap()

6 5

In [21]:
a = 5
b = 6

a,b = b,a
print(b)
print(a)

5
6

In [31]:
sn2=Swap_num(18,9)

In [32]:
sn2.swap()

6 5

In [10]:
class Addition:
    def __init__(self,x,y):
        self.x = x 
        self.y = y
        x = int(input())
        y = int(input())
        z = x+y
        print("addition Value is :-",z)

In [11]:
add = Addition(1,1)

addition Value is :- 48

In [13]:
class Cube:
    def sum(self,x):
        self.x = x
        x = int(input())
        return x*x*x

In [16]:
c1 = Cube()

In [19]:
c1.sum(1)

27

In [3]:
string1 = "Geeksforgeeks"
print("initial string :")
print(string1)

initial string :
Geeksforgeeks

In [6]:
def is_leap(year):
 return year % 4 == 0 and (year % 400 == 0 or year % 100 != 0)

In [7]:
is_leap(2022)

False

In [9]:
is_leap(2020)

True

In [15]:
def is_leap(year):
    return  year%400 == 0 and (year%4==0 or year%100!=0)


year = int(input())
print(is_leap(year))

False

In [14]:
is_leap(2021)

False

In [36]:
def is_leap(year):
    leap = False
    if year%400 == 0 or (year%4==0 and year%100!=0):
        leap = "True"
    else:   
       leap = "False"  
       return leap

In [39]:
is_leap(2024)

In [31]:
l = []
x  = "Lalit"
l.append(x)
print(l)

['Lalit']

In [34]:
for i in range(len(x)):
    print("lalit Hushar Mulga")

lalit Hushar Mulga
lalit Hushar Mulga
lalit Hushar Mulga
lalit Hushar Mulga
lalit Hushar Mulga

In [33]:
print(len(x))

5

In [35]:
d = {}
d["Name"] = "Lalit"
d["Age"] = 28
print(d)

{'Name': 'Lalit', 'Age': 28}

In [70]:
l = []
n = int(input())

a = 1
while a<=n:
    x = int(input())
    l.append(x)
    a = a+1
print(l)
if z==int(l):
    print(z[-2])

[45, 11, 25]

NameError: name 'z' is not defined

In [71]:
l=[]
l.insert(0,6)
l.insert(1,5)
l.insert(2,10)
print(l)
l.remove(6)
l.append(9)
l.append(1)
l.sort()
print(l)
l.pop()
l.reverse()
print(l)

[6, 5, 10]
[1, 5, 9, 10]
[9, 5, 1]

In [1]:
import json

In [ ]:
f = open ()